{% extends 'base.html.twig' %}

{% block title %}Hello EvenementsController!{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href=" {{asset('css/evenements.css')}} ">

{% endblock  %}
{% block body %}
      <!-- message flash  -->
      {% for message in app.flashes('success') %}
      <div class="notification is-primary">
          {{ message }}
      </div>
      {% endfor %}

      {% for message in app.flashes('warning') %}
      <div class="notification is-warning">
          {{ message }}
      </div>
      {% endfor %}
      
<!-- *****************************   fin message flash  ******************************** --> 

<div class="container">
   <div class="calendrier">
     <div class="block"> <h1 class="title 1"> bienvenue sur la page rencontres de d'Alpha Betise </h1></div>
     <div class="image"> </div>

        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"> <img  src=" {{asset('img/evenements/rencontre1.jpg')}}  " alt=""> </div>
            <div class="swiper-slide"><img src=" {{asset('img/evenements/rencontre2.jpg')}}  " alt=""></div>
            <div class="swiper-slide"><img  src=" {{asset('img/evenements/rencontre3.jpg')}}  " alt=""></div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>

      <div id="calendar" class="block">

      </div> 

        <div>   <h2 class="title is-1"> les evenements a venir </h2> </div> 

 {% for event in evenements %}

      <div class=" has-text-white mb-6 ">
              <div>
                <figure>
                  <img style="max-height: 250px; width:400px" src=" {{asset('img/evenements/' ~ event.img )}} " alt="">
                </figure>
              </div> 

              <div> 
                <h2 class="title is-2 has-text-white">{{event.title}}</h2> 
              </div>

              <div >
                      <div>   date de l'evenement:  {{event.start|date("d/m/Y")}} </div> 
                      <div>lieux :  {{event.lieux}}</div>
                      <div> sur reservation :
                        {% if event.getReservation() == 1 %}
                        oui  , prix de la reservation:{{event.prix}} € , maximun de personne: {{event.maxPersonne}} 
                            {% if app.user %}
                                <div class="column mb-3">
                                  {% if app.user %}
                                    <a class="button is-dark is-inverted " href=" {{ path('evenements_inscription',{'id':event.id}) }} "> s'inscrire a cette evenement</a>   
                                  {% endif %}
                                    </div> 
                             {% else %}
                                <div class="column mb-3">
                                   <a class="button" href=" {{path('app_login')}} ">s'inscrire</a>
                                </div>
                               
                            {% endif %}
                        
                        {% else %}
                        non
                      {% endif %}   
                      </div>
              </div>  
    
              <div> description de l'evenement  : <br>
                {{event.description}}
              </div>
      </div> 
       
  {% endfor %}

      <div class="column">
        <a class="button " href="  {{ path('evenements_passer')}} ">voir les evenements passer </a>
      </div>
  
</div>
</div>

<!-- ***********************  debut traitement javascrit pour full calendar *************** -->

  {% block javascripts %}
    <!-- gestion du calendrier    -->
    <script> 
        window.onload =  () => {
            let calendarEl = document.getElementById('calendar');

                let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                buttonText:{
                    today: 'aujourd\'hui',
                    month: 'mois',
                    week: 'semaines',
                    day:  'jour',
                    list: 'liste',
                },
                selectable: true,
                events:{{donnees|raw}}
                
                })

                 calendar.setOption('contentHeight', 320);
                 
                
            calendar.render();
          }

        </script>
        
        {% endblock  %}
{% endblock %}
