{% extends 'base.html.twig' %}

{% block title %}Hello EvenementsController!{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href=" {{asset('css/evenements.css')}} ">

{% endblock  %}
{% block body %}

<div class="container">
   <div class="calendrier">
     <div class="block"> <h1 class="title 1"> bienvenue sur la page rencontres de d'Alpha Betise </h1></div>
     <div class="image"> </div>

        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"> <img  src=" {{asset('img/evenements/rencontre1.jpg')}}  " alt=""> </div>
            <div class="swiper-slide"><img src=" {{asset('img/evenements/rencontre2.jpg')}}  " alt=""></div>
            <div class="swiper-slide"><img  src=" {{asset('img/evenements/rencontre3.jpg')}}  " alt=""></div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>

      <div id="calendar" class="block">
      </div> 
       <div>
  <h2 class="title is-1"> les evenements a venir </h2>

 

</div> 
 {% for event in evenements %}

      <div class="box">
        <div> <h2 class="title is-2">{{event.title}}</h2> </div>
        <div>
                <div>lieux :  {{event.lieux}}</div>
                <div>   date de l'evenement:  {{event.start|date("d/m/Y")}} </div> 
        </div>  
         <div> <img src=" {{asset('img/evenements/' ~ event.img )}} " alt=""></div> 
     
           <div> {{event.description}}</div>
      </div> 

        {% for p in event.eventsParticipants %}
          
        {{ p.user.nom }}  {{ p.user.prenom}} {{ p.user.email }}
         <a href=" {{ path('evenements_inscription',{'id':event.id}) }} "> s'inscrire a un evenement</a>
      
       {# <a href="{{ path(' evenements_desinscription',{'id':p.user.id}) }}">se désinscrire </a> 
#}
        {% endfor %}
           
  {% endfor %}
  
</div>
</div>
  {% block javascripts %}
    <!-- gestion du calendrier    -->
    <script> 
        window.onload =  () => {
            let calendarEl = document.getElementById('calendar');

                let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                buttonText:{
                    today: 'aujourd\'hui',
                    month: 'mois',
                    week: 'semaines',
                    day:  'jour',
                    list: 'liste',
                },
                selectable: true,
                events:{{donnees|raw}}
                
                })

                 calendar.setOption('contentHeight', 320);
                 
                
            calendar.render();
          }

        </script>
        
        {% endblock  %}
{% endblock %}
