{% extends 'admin/baseAdmin.html.twig' %}

        {% block stylesheets %}
            <link rel="stylesheet" href="">
            
            <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
            {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> #}
        {% endblock  %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{% for message in app.flashes('message') %}
<div class="alert alert-success " role="alert">
    {{message}}
</div>
{% endfor %}

    <div class="container">
        <div class="columns">
            <div class="column  is-three-quarters">
                <table class="table text-center ">
                   <thead>
                    <tr>
                        <th>N°</th>
                        <th>profil</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>email</th>
                        <th>roles</th>
                        <th>Newletter</th>
                        <th>verif</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for user in users %} 
                    
                    <tr>
                        <td> {{loop.index}} </td>
                        <td> <img src=" {{asset('img/profil-user/' ~ user.img )}} " alt="photo profil de l'utilisateur" width="60px" height="60px" > </td>
                        <td> {{user.nom}} </td>
                        <td> {{user.prenom}} </td>
                        <td> {{user.email}} </td>
                        <td> {{user.roles|join(' + ')|lower }} </td>
                        <td> {{user.newsletter}} </td>
                        <td> {{user.isVerified}} </td>
                      </tr> 
                    {% endfor %}
                </tbody>       
                </table>
            </div>

        </div>

        <div class="collum is-4">
            <table class="table text-center ">
                <thead>
                    <tr></tr>
                        <th>liste de categories </th>
                        <th>action</th>
                    </tr>
                </thead>
                <body>
                    {% for categorie in categories %}
                    <tr>
                        <td> {{categorie.nomCategory}} </td>
                        <td>
                            <a href=" {{path('delete_category',{'id':categorie.id} )}} ">supprimer</a>
                        </td>
                    </tr>  
                    {% endfor %}
                   
                </body>
            </table>  
        </div>
    
    </div>


        {% block javascripts %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endblock  %}


{% endblock %}
