
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX #}
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA==" crossorigin="anonymous" />
          
       
           <link rel="stylesheet" href=" {{asset('css/admin.css')}} ">
            {% block stylesheets %}
    
        {% endblock %}

    </head>
    <body> 
        <header>
            <nav class="navbar " role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="#">
                    <img src="{{asset('img/logo.svg')}} " width="112" height="28">
                  </a>
              
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-end">
                    
                  </div>
              
                     <div class="navbar-end">
                        <div class="navbar-item">
                            <a class="navbar-item" href=" {{path('home')}} "> <i class="far fa-home mr-1"></i>  Acceuil</a>
                            <a class="navbar-item" href=" {{path('evenements')}} "><i class="far fa-calendar-alt mr-1"></i> Rencontre</a>
                            <a class="navbar-item" href=" {{path('conseil_lecture')}} "> <i class="far fa-book mr-1"></i> Conseil lecture</a>
                            <a class="navbar-item" href=" {{path('librairie')}} "> <i class="far fa-book-reader mr-1"></i>La Librairie </a>
                            <a class="navbar-item" href=" {{path('contact')}} "><i class="far fa-address-book mr-1"></i> Contact</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="navbar-item" href=" {{path('admin')}} "><i class="fas fa-user-cog mr-1"></i>Admin</a>
                            {% endif %}
                            
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar is-align-items-center" href="" >
                                    
                                    <figure class="image is-32x32" style="margin-right: 0.5em"><img class="is-rounded" src=" {{asset('img/profil-user/' ~ app.user.img)}} "></figure>
                                   <span> {{app.user.nom|upper }} </span>
                                 <span class="ml-1"><i class="fas fa-caret-down"></i></span>  
                                 </a> 
    
                                 <div class="navbar-dropdown is-right">
                                     <a class="navbar-item is-align-items-center " href=" {{path('profil')}} " >
                                        <span class="icon is-small">
                                            <i class="fa fa-user-o"></i> 
                                        </span> Profil
                                    </a>
                                        <hr class="navbar-divider">
                                        <a class="navbar-item" href="{{path('app_logout')}}">
                                            <span class="icon is-small">
                                                <i class="fas fa-power-off has-text-danger-dark "></i>
                                            </span> <span class="ml-2">déconnexion</span> 
                                        </a>
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
              </nav>
       </header>
     <div class="container">
        <div class="columns">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile ">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a class="is-active" href="{{path('admin')}}">Acceuil Admin</a></li>
                   
                </ul>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li>
                        <a>utilisateur</a>
                        <ul>
                            <li><a href=" {{path('user_list')}} ">Liste de utilisateur</a></li>
                        
                        </ul>
                       
                    </li>
                    <li>
                        <a>gestion articles</a>
                        <ul>
                            <li><a href="{{path('ajout_livres')}}">ajouter un Livres</a> </li>
                            <li><a href="{{path('ajout_category')}}"> ajouter une categorie</a></li>
                        </ul>
                    
                    </li>
                    <li>
                        <a>Gestion Evenements</a>
                        <ul>
                            <li><a href="{{path('evenements_creation')}}">ajouter un Evenements</a></li>
                        </ul>
                        <ul>
                            <li>
                                <a href=" {{path('evenements_list')}} ">les evenements </a>
                            </li>
                        </ul>
                    
                    </li>
                   
                </ul>
               
            </aside>
        </div>

        <div class="column is-9">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Bonjour, {{app.user.nom}} {{app.user.prenom}}.
                        </h1>
                        <h2 class="subtitle">
                            Bienvenue sur la page admin ! 
                        </h2>
                    </div>
                </div>
            </section>
             {% block body %}
        
             {% endblock %}
        </div>
    </div>
     </div>  

       <script src="  {{asset('js/main.js')}} "></script>
        {% block javascripts %}
           
        {% endblock %}
         
    </body>
</html>
