{% extends 'base.html.twig' %}

{% block title %}Alpha Betise ConseilLecture{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/lecture.css') }} ">
{% endblock %}
{% block body %}

<div class="container">
   <div class="columns panel-tabs is-mobile is-centered  ">
     <div class="column is-2 filter is-centered"> <a class="afilter is-active" href=" {{path('conseil_lecture')}} "> all </a></div>
    {% for categorie in category %}
        <div class="column filter   is-centered" id=" {{categorie.id}} "> <a class="afilter " href=" {{path('livre_By_Cat',{'id':categorie.id} )}} "> {{categorie.nomCategory}} </a> </div>
    {% endfor %}   
     </div>  
     <section class="section">
       <div id="contenueFiltre">
       {% include "conseil_lecture/contenue.html.twig" %}
     </div>
     </section>
     
 </div>

{% block javascripts %}
    
<script src=" {{ asset('js/ajax.js') }} "></script>
{% endblock  %}
{% endblock %}
